
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Pirata+One&family=UnifrakturCook:wght@700&display=swap');

@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-markazi);
  --font-unifraktur: var(--font-unifraktur);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-white text-zinc-900;
  }
}

.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}
